<div class="content-wrapper">
    <div class="content-header row">
        <div class="col-12 mb-2">
            <div class="row breadcrumbs-top">
                <div class="col-12">
                    <h2 class="content-header-title float-left mb-0">Solicitud de créditos autónomos</h2>
                    <div class="breadcrumb-wrapper">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a class="text-primary" href="index.html">Inicio</a>
                            </li>
                            <li class="breadcrumb-item"><a class="text-primary" href="mis-premios.html">Solicitud de
                                    créditos autónomos</a>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-body">
        <!-- users list start -->
        <section class="app-user-list">
            <div class="card card-company-table">
                <div class="row m-75">
                    <div class="col-lg-12 col-xl-6">
                        <label>Mostrar</label>
                        <select class="form-control-sm">
                            <option value="10">10</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select>

                    </div>
                    <!--div class="col-lg-12 col-xl-6 text-right">
                     <button class="btn btn-primary waves-effect waves-float waves-light" tabindex="0" aria-controls="DataTables_Table_0" type="button" data-toggle="modal" data-target="#add-solicitud">
                     Crear nuevo
                   </button>
                 </div-->
                </div>
                <div class="card-datatable table-responsive pt-0">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Fecha de solicitud</th>
                                <th>Ruc Empresa</th>
                                <th>Nombre Empresa</th>
                                <th>Logo</th>
                                <th>Canal de crédito</th>
                                <th>Identificacion</th>
                                <th>Nombres</th>
                                <th>Apellidos</th>
                                <th>Valor</th>
                                <th>Plazo del crédito</th>
                                <th>Interes</th>
                                <th>Estado</th>
                                <th>Reporte Buró de Crédito</th>
                                <th>Calificación de Buró de Crédito</th>
                                <th>Buro Validado</th>
                                <th>Cédula de Identidad</th>
                                <th>RUC</th>
                                <th>Roles de Pago</th>
                                <th>Plantilla IESS</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr *ngFor="let credito of listaCreditos">
                                <td>{{transformarFecha(credito.created_at)}}</td>
                                <td>{{credito.rucComercial}}</td>
                                <td>{{credito.nombreComercial}}</td>
                                <td><img [src]="credito.imagenComercial" width="80"></td>
                                <td>{{credito.canal}}</td>
                                <td>{{credito.numeroIdentificacion}}</td>
                                <td>{{credito.nombres}}</td>
                                <td>{{credito.apellidos}}</td>
                                <td>{{credito.monto}}</td>
                                <td>{{credito.plazo}} meses</td>
                                <td>{{credito.interes}}</td>
                                <td>
                                    <div class="badge badge-light-success">{{credito.estado}}</div>
                                </td>
                                <td><a href="{{credito.reporteBuro}}" target="_blank">Link</a></td>
                                <td>{{credito.calificacionBuro}}</td>
                                <td>{{credito.buroValido}}</td>
                                <td><a href="{{credito.identificacion}}" target="_blank">Link</a></td>
                                <td><a href="{{credito.ruc}}" target="_blank">Link</a></td>
                                <td><a href="{{credito.rolesPago}}" target="_blank">Link</a></td>
                                <td><a href="{{credito.panillaIESS}}" target="_blank">Link</a></td>
                                <td class="d-flex">
                                    <a href="javascript:void(0)" class="avatar bg-info mr-1" data-target="#gestionar"
                                        data-toggle="modal" (click)="toggleSidebar('actualizar-credito',credito._id)">
                                        <div class="avatar-content" data-toggle="tooltip" data-placement="bottom"
                                            title="" data-original-title="Aprobar/Rechazar">
                                            <i data-feather='check-circle'></i>
                                        </div>
                                    </a>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                <ngb-pagination #paginator [collectionSize]="collectionSize" [(page)]="page" [(pageSize)]="page_size"
                    [maxSize]="5" [ellipses]="false" [boundaryLinks]="true"></ngb-pagination>

            </div>
            <!-- list section end -->
        </section>
        <!-- users list ends -->
    </div>
</div>
<core-sidebar class="modal modal-slide-in sidebar-todo-modal fade" name="actualizar-credito"
    overlayClass="modal-backdrop">
    <div class="slideout-content">
        <!-- Modal to add new user starts-->
        <div class="modalsd modal-slide-in sdfade new-user-modal" id="modals-slide-in">
            <div class="modal-dialog">
                <form class="add-new-user modal-content pt-0" [formGroup]="actualizarCreditoForm">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                        (click)="toggleSidebar('actualizar-credito','')">
                        ×
                    </button>
                    <div class="modal-header mb-1">
                        <h5 class="modal-title" id="exampleModalLabel">Gestión de solicitud de crédito</h5>
                    </div>
                    <div class="modal-body flex-grow-1">
                        <div class="form-group">
                            <label>¿Desea tomar la solicitud de cliente?</label>
                            <select class="form-control select2" name="tomarSolicitud" formControlName="tomarSolicitud"
                                [(ngModel)]="actualizarCredito.tomarSolicitud">
                                <option value="">- Seleccione -</option>
                                <option>Si</option>
                                <option>No</option>
                            </select>
                            <div *ngIf="submitted && tForm.tomarSolicitud.errors" class="invalid-feedback"
                                style="display: block;">
                                <div *ngIf="tForm.tomarSolicitud.errors.required">Requerido
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Estado de la solicitud</label>
                            <select class="form-control select2" name="estado" formControlName="estado"
                                [(ngModel)]="actualizarCredito.estado" (change)="estadoSolicitud($event)">
                                <option value="" *ngIf="actualizarCredito.estado == 'Pendiente'">- Seleccione -</option>
                                <option>Autorizar</option>
                                <option>Rechazar</option>
                            </select>
                            <div *ngIf="submitted && tForm.estado.errors" class="invalid-feedback"
                                style="display: block;">
                                <div *ngIf="tForm.estado.errors.required">Requerido
                                </div>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label>Fecha Aprobación</label>
                            <input type="text" class="form-control" formControlName="fechaAprobacion"
                            [(ngModel)]="actualizarCredito.fechaAprobacion"
                             value="{{transformarFecha(actualizarCredito.fechaAprobacion)}}" disabled="true">
                            <!-- <ng2-flatpickr [setDate]="fecha" formControlName="fechaAprobacion"
                                [config]="startDateOptions" [(ngModel)]="actualizarCredito.fechaAprobacion"></ng2-flatpickr>
                            <div *ngIf="submitted && tForm.fechaAprobacion.errors" class="invalid-feedback"
                                style="display: block;">
                                <div *ngIf="tForm.fechaAprobacion.errors.required">Fecha de nacimiento es requerida
                                </div>
                            </div> -->
                        </div>

                        <div class="form-group">
                            <label>Observaciones:</label>
                            <textarea class="form-control" rows="4" name="concepto" formControlName="concepto"
                                placeholder="Detallar productos..." [(ngModel)]="actualizarCredito.concepto"></textarea>
                            <div *ngIf="submitted && tForm.concepto.errors" class="invalid-feedback"
                                style="display: block;">
                                <div *ngIf="tForm.concepto.errors.required">Requerido
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="documentoAprobacion">Aprobación</label>
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="documentoAprobacion"
                                    formControlName="documentoAprobacion"
                                    (change)="subirDocumentoAprobacion($event)" accept="application/pdf" />
                                <label class="custom-file-label" for="customFile1">{{imagen}}</label>
                                <div *ngIf="submitted && tForm.documentoAprobacion.errors" class="invalid-feedback" style="display: block;">
                                    <div *ngIf="tForm.documentoAprobacion.errors.required">Reporte de Aprobación de Crédito es requerido</div>
                                </div>
                            </div>
                        </div>

                        <button class="btn btn-primary mr-1" (click)="actualizarSolicitudCredito()" [disabled]="cargando">Guardar</button>
                        <button class="btn btn-outline-secondary" (click)="cerrarModal('actualizar-credito')"
                            data-dismiss="modal">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
        <!-- Modal to add new user Ends-->
    </div>

</core-sidebar>
<ng-template #mensajeModal let-modal>
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Mensaje</h5>
        <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body" tabindex="0" ngbAutofocus>
        <div [innerHTML]="mensaje"></div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="modal.dismiss('Cross click')">Cerrar</button>
    </div>
</ng-template>
<ng-template #detalleCreditoMdl let-modal>
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Detalle del crédito</h5>
        <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body" tabindex="0" ngbAutofocus>
        <div [innerHTML]="mensaje"></div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="cerrarModal()">Cerrar</button>
    </div>
</ng-template>
